<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Marketplace</title>
</head>
<body>
    <h1>Online Marketplace 👟</h1>

    <%if(sessionStatus){%>
        <div class="sellerMode">
            <a href="/sellerdashboard"><button>Want to sell ?</button></a>
        </div>
    <%}else{%>
        <div class="sellerMode">
            <a href="/login"><button>Sign In</button></a>
        </div>
    <%}%>

    <h2>Buyer Side</h2>

    <!-- Form -->
    <div class="form">
    <form action="/process" method="POST">
        <input type="text" name="name" id="name" placeholder="Enter Product Name" autocomplete="off">
        <input type="number" name="price" id="price" placeholder="Enter Price" autocomplete="off">
        <input type="number" name="quantity" id="quantity"placeholder="Enter Quantity" autocomplete="off">
        <button>Submit</button>
    </form>
    </div>
</body>
</html>